@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

h1 {
    color: red;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}


/*Header*/

.header {
    padding-top: 46px;
    background-color: #f1f1f1;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	 margin-bottom: 76px;
}
.logo {
    padding-right: 12px;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: black;
    position: relative;

}

.logo::after {
    content: "";
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;

}


.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 50;
    font-size: 14px;

}

.nav-button {
	display: none;
}

.nav-link {
    color: #000;
}
.nav-link.active {
    color: #606060;
}

.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
	 
	 
}

.header-nav {
	margin-bottom: 100px;
}

.header-content {
 max-width: 500px;
 margin-top: 124px;
}

.header-title {
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
	color: #000000;

}
.header-text {
	font-weight: 400;
	line-height: 2;
	font-size: 14px;
}


.servises {
padding: 90px 0;
}

.servises-row {
display: flex;
column-gap: 30px;
row-gap: 60px;
flex-wrap: wrap;
}

.servises-card {
 flex: 1 1 0;
 min-width: 315px;
}

.servises-card-img {
	margin-bottom: 30px;
}

.servises-card-title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
}
.servises-card-text {
	line-height: 200%;
}

.portfolio {
	padding: 90px 0;
	background-color: #f1f1f1;
}

.portfolio-title {
	text-align: center;
	
}

.title-1 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 70px;
}
.project {
	text-align: center;

}

.project + .project {
	margin-top: 90px;
}

.project-img {
	margin-bottom: 40px;
}

.project-title-link {
	color: #000;
	text-decoration: underline;
}


.contacts{
	padding: 90px 0;
	text-align: center;

}
.contacts-title {
	margin-bottom: 40px;
}

.title-2 {
	font-size: 34px;
	font-weight: 600;
	
}
.contacts-content {

	margin-bottom: 40px;
	font-size: 18px;
}

.contacts-content p + p {
	margin-top: 1em;
}

.contacts-button {
	margin-bottom: 80px;
}

.btn {
	display: inline-block;
	padding: 7px 22px;
	background-color: #070707;
	border-radius: 30px;
	color: beige;
	font-size: 18px;

	transition: background-color 0.2s ease-in, top 0.2s ease-in ;
}

.btn:hover,
.btn:focus {
	background-color: #323232;
}
.btn:active {
	position: relative;
	top: 1px;
	background-color: #000;
}

.contacts-social {
	display: flex;
	justify-content: center;
	column-gap: 60px;
	align-items: center;
	margin-bottom: 40px;
}

.contacts-footer {
	color: #828282;
}










